<div class="container">
  <p>add-event works! <small class="text-muted"> Reactive form</small></p>
    <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">

      <!--Event name-->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Event name.." formControlName="eventName">
      </div>
      <div class="alert alert-danger" *ngIf="addEventForm.controls['eventName'].errors && addEventForm.controls['eventName'].touched">
        <div *ngIf="addEventForm.get('eventName').hasError('required')">Event name is required</div>
        <div *ngIf="addEventForm.get('eventName').hasError('minlength')">Event name must have at least 5 characters</div>
      </div>

      <!--Event place-->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Event place.." formControlName="place">
      </div>
      <div class="alert alert-danger" *ngIf="addEventForm.controls['place'].errors && addEventForm.controls['place'].touched">
        <div *ngIf="addEventForm.get('place').hasError('required')">Event place is required</div>
        <div *ngIf="addEventForm.get('place').hasError('minlength')">Event place must have at least 5 characters</div>
      </div>

      <!--Event desc-->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Event description.." formControlName="description">
      </div>
      <div class="alert alert-danger" *ngIf="addEventForm.controls['description'].errors &&addEventForm.controls['description'].touched">
        <div *ngIf="addEventForm.get('description').hasError('required')">Event description is required</div>
        <div *ngIf="addEventForm.get('description').hasError('minlength')">Event description must have at least 10 characters</div>
      </div>

      <!--Event guests number-->
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Participants number.." formControlName="guestsNumber">
      </div>
      <div class="alert alert-danger" *ngIf="addEventForm.controls['guestsNumber'].errors && addEventForm.controls['guestsNumber'].touched">
        <div *ngIf="addEventForm.get('guestsNumber').hasError('required')">Participants number is required and must be a number</div>
      </div>

      <!--price-->
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Event price.." formControlName="price">
      </div>
      <div class="alert alert-danger" *ngIf="addEventForm.controls['price'].errors && addEventForm.controls['price'].touched">
        <div *ngIf="addEventForm.get('price').hasError('required')">Event price is required and must be a number</div>
      </div>


      <button class="btn btn-success" [disabled]="addEventForm.invalid" (click)="save()">Add Event</button>
      <button class="btn btn-danger" (click)="hideFormAdd()">Cancel</button>
      <!--      <button class="btn btn-danger" (click)="reset()">Cancel</button>-->

    </form>

</div>
