<div class="container">
  <p>add-product works!</p>
  <h1>Add Product</h1>

  <form #form="ngForm">

    <!--ID-->
    <div class="form-group">
      <input #i="ngModel" type="number" name="id" class="form-control" placeholder="Product id" [(ngModel)]="product.id" required>
    </div>
    <div class="alert alert-danger" *ngIf="i.invalid && i.touched">
      Id is required
    </div>

    <!--Product name-->
    <div class="form-group">
      <input #j="ngModel" minlength="8" pattern="[a-zA-Z]^+$" type="text" name="productName" class="form-control" placeholder="Product name" [(ngModel)]="product.productName" required>
    </div>
    <div class="alert alert-danger" *ngIf="j.invalid && j.touched ">
      <div *ngIf="j.errors.required">Product name is required</div>
      <div *ngIf="j.errors.minlength">Product name must contain 8 characters</div>
      <div *ngIf="j.errors.pattern">Product name must only contain characters</div>
    </div>

    <!--Product category-->
    <div class="form-group">
      <input #c="ngModel" minlength="8" pattern="[a-zA-Z]^+$" type="text" name="productCategory" class="form-control" placeholder="Product category" [(ngModel)]="product.category" required>
    </div>
    <div class="alert alert-danger" *ngIf="c.invalid && c.touched ">
      <div *ngIf="c.errors.required">Product category is required</div>
      <div *ngIf="c.errors.minlength">Product category must contain 8 characters</div>
      <div *ngIf="c.errors.pattern">Product category must only contain characters</div>
    </div>

    <!--Product desc-->
    <div class="form-group">
      <input #d="ngModel" minlength="8" pattern="[a-zA-Z]^+$" type="text" name="productDescription" class="form-control" placeholder="Product description" [(ngModel)]="product.description" required>
    </div>
    <div class="alert alert-danger" *ngIf="d.invalid && d.touched ">
      <div *ngIf="d.errors.required">Product description is required</div>
      <div *ngIf="d.errors.minlength">Product description must contain 8 characters</div>
      <div *ngIf="d.errors.pattern">Product description must only contain characters</div>
    </div>

    <!--Product quantity-->
    <div class="form-group">
      <input #k="ngModel" type="number" name="productQuantity" class="form-control" placeholder="Product quantity" [(ngModel)]="product.quantity" required>
    </div>
    <div class="alert alert-danger" *ngIf="k.invalid && k.touched ">
      <div *ngIf="k.errors.required">Product quantity is required</div>
    </div>
    <div class="alert alert-danger" *ngIf="k.value<10">
      <div>The stock must contain 10 products </div>
    </div>

    <!--price-->
    <div class="form-group">
      <input #p="ngModel" type="number" name="productPrice" class="form-control" placeholder="Product price" [(ngModel)]="product.price" required>
    </div>
    <div class="alert alert-danger" *ngIf="p.invalid && p.touched">
      Price is required
    </div>

    <div class="alert alert-danger" *ngIf="p.value<0">
      <div> Price > 0 </div>
    </div>


    <button class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Add Product</button>


  </form>


</div>

