<div class="container">
  <p>event works!</p>
  <div class="card mb-3" style="max-width: 540px;" *ngIf="evenement.eventName <= eventNameSearchInput || eventNameSearchInput==null || eventNameSearchInput==''">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/perfume.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="#">{{evenement.eventName}}</a> </h5>
          <small class="text-muted">Description: </small>
          <p class="card-text">{{evenement.description}}</p>
          <p class="card-text"><small class="text-muted">Endroit : </small>{{evenement.place}}</p>
          <p class="card-text"><small class="text-muted">Prix : </small>{{evenement.price}}</p>
          <p class="card-text"><small class="text-muted">Nombre de participants : </small>{{evenement.guestsNumber}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
